
.adminnavbar-wrapper .adminsuggestion-main_content{
    width:100%;
    margin-left:200px;
}
.adminnavbar-wrapper .adminsuggestion-main_content .adminsuggestion-header{
    padding:20px;
    background:#fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}
.adminnavbar-wrapper .adminsuggestion-main_content .adminsuggestion-info{
    margin: 20px;
    color: #717171;
    line-height:25px;
}
.adsuggest-container {
    padding: 2rem;
    margin-left: 15%;
    width:95%;
}

.adsuggest-table {
    border-radius: 20px;
    background-color:#6D7AE0;
    box-shadow: 5px 10px #888888;
    width: 100%;
    align-content:center;
}

.adsuggest-labels{
    font-size:25px;
    font-weight: 400;
    color: white;
    width: 150px;
    text-shadow: 3px 3px #959393;
}

.adsuggest-row{
    padding: 20px;
}

.adsuggest-itemrow{
    padding: 20px;
    background-color:ivory;
}
.adsuggest-itemrow td{
    padding:10px;
    width:150px;
    text-align:center;
}

.adsuggest-row{
    padding: 20px;
}

.adsuggest-itemrow{
    padding: 20px;
}

.adsuggest-button {
    border-color: #fff;
    color: white;
    background-color:rgba(235,94,80,1);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:10px;
    font-size: 16px;
    cursor: pointer;
}
.adsuggest-button:hover {
    opacity: 0.8;
    border-color:#000;
    background-color: transparent;
    color: black;
}
.adsuggest-date{
    border-color:rgba(235,94,80,1);
    border-radius:10px;
    padding-left:5px;
    width:135px;
}
.adsuggest-btn{
    width:100px !important;
}
.adsuggest-mess, .mess-label{
    width:75% !important;
}