.adrent-container {
    padding: 2rem;
    margin-left: 15%;
    width:95%;
}

.adrent-table {
    border-radius: 20px;
    background-color:#E94C3D;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 100%;
}

.adrent-items{
    border-radius: 20px;
    background-color:ivory;
}

.adrent-labels{
    font-weight: 400;
    color: white;
    width: 160px;
}

.adrent-list{
    font-size: 14px;
    font-weight: 500;
    color: black;
    width: 160px;
    background-color:ivory;
}

.adrent-late{
    font-size: 20px;
    font-weight: 100;
    color: #E94C3D;
    width: 180px;
    background-color:ivory;
}

.adrent-row{
    padding: 20px;
}

.adrent-itemrow{
    padding: 20px;
    background-color:ivory;
}

.adrent-button {
    border: none;
    color: white;
    background-color:rgba(235,94,80,1);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.adrent-button:hover {
    opacity: 0.8;
    background-color: transparent;
    color: black;
}

/* small desktop - LG*/
@media (min-width: 1200px) and (max-width: 1500px) {
    .adrent-container {
        margin-left: 20%;
        width:100%;
    }

    .adrent-labels{
        font-size:18px;
        width: 120px;
    }
    
    .adrent-list{
        font-size: 18px;
        width: 120px;
    }
    
    .adrent-late{
        font-size: 18px;
        width: 120px;
    }
    .adrent-button {
        font-size: 15px;
    }
}
  
    /* small laptop until tablet - MD*/
@media (min-width: 768px) and (max-width: 1200px) {
    .adrent-container {
        margin-left: 20%;
        width:100%;
    }
    
    .adrent-labels{
        font-size:15px;
        width: 100px;
    }
    
    .adrent-list{
        font-size: 15px;
        width: 100px;
    }
    
    .adrent-late{
        font-size: 15px;
        width: 100px;
    }
    
    .adrent-row{
        padding: 15px;
    }
    
    .adrent-itemrow{
        padding: 15px;
    }
    
}
  
    /*tablet - SM*/
@media (min-width: 576px) and (max-width: 767px) {
    .adrent-container {
        margin-left: 30%;
        width:100%;
    }
    
    .adrent-labels{
        width: 100%;
    }
    
    .adrent-list{
        width: 100%;
    }
    
    .adrent-late{
        width: 100%;
    }
}
  
  /*mobile phone - XS*/
@media (max-width: 576px) {
    .adrent-container {
        margin-left: 35%;
        width:100%;
    }
    
    .adrent-labels{
        width: 100%;
    }
    
    .adrent-list{
        width: 100%;
    }
    
    .adrent-late{
        width: 100%;
    }
}