
.adminnavbar-wrapper .adminreserved-main_content{
    width:100%;
    margin-left:200px;
}
.adminnavbar-wrapper .adminreserved-main_content .adminreserved-header{
    padding:20px;
    background:#fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}
.adminnavbar-wrapper .adminreserved-main_content .adminreserved-info{
    margin: 20px;
    color: #717171;
    line-height:25px;
}
.adreserved-container {
    padding: 2rem;
    margin-left: 15%;
    width:95%;
}

.adreserved-table {
    border-radius: 20px;
    background-color:rgba(235,94,80,1);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 100%;
    align-content:center;
}

.adreserved-labels{
    font-size:14px;
    font-weight: 400;
    color: #fafafa;
    width: 150px;
}

.adreserved-row{
    padding: 20px;
}

.adreserved-itemrow{
    padding: 20px;
    background-color:ivory;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.adreserved-itemrow td{
    padding:10px;
    width:150px;
    text-align:center;
}

.adreserved-row{
    padding: 20px;
}

.adreserved-itemrow{
    padding: 20px;
}

.adreserved-button {
    border-color: #fff;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:10px;
    font-size: 16px;
    cursor: pointer;
}
.violet{
    background-color:#6d7ae0;
}
.red{
    background-color:rgba(235,94,80,1);
}
.adreserved-button:hover {
    opacity: 0.8;
    border-color:#000;
    background-color: transparent;
    color: black;
}
.adreserved-date{
    border-color:rgba(235,94,80,1);
    border-radius:10px;
    padding-left:5px;
    width:135px;
}
.adreserved-btn{
    width:80px !important;
}
