.gallery-container{
    padding: 2rem;
}
.gallery-game{
    background-color: #fafafa;
    width:auto;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    position: relative;
}
.gallery-game:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.gallery-img{
    width:300px;
    height:300px;
}
.gallery-game:hover .gcat-img {
    opacity: 0.3;
}

.gallery-game:hover .middle {
    opacity: 1;
}
.gallery-h2{
    color: #000;
    font-size:16px;
    font-weight: 600;
}
.gallery-h3{
    color: #000;
    font-size:1em;
}
.gallery-row{
    display:flex;
    justify-content:left;
    flex-wrap:nowrap;
}

@media (max-width: 575px) {
    .gallery-img{
        width:200px;
        height:200px;
    }
}