.gcat-container{
    padding: 2rem;
}
.gcat-game{
    background-color: #fafafa;
    width:auto;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.gcat-game:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
.gcat-img{
    width:300px;
    height:300px;
}
.gcat-img{
    
}
.gcat-h2{
    color: #000;
    font-size:16px;
    font-weight: 600;
}
.gcat-h3{
    color: #000;
    font-size:1em;
}
.gcat-row{
    display:flex;
    justify-content:left;
    flex-wrap:nowrap;
}

@media (max-width: 575px) {
    .gcat-img{
        width:200px;
        height:200px;
    }
}