.categories{
    height: 200px;
    /* background-repeat: no-repeat;
    background-size: cover; */
    border-radius: 20px;
    /* position: relative; */
}

.categories h3{
    color: #fff;
    font-weight: 600;
    background-color: #E94C3D;
}

.categories-h3{
    /* position: absolute; */
}

