.reserve-container {
    width: 80%;
    padding: 5rem;
    margin: auto;
}

.reserve-container .reserve-header {
    width: 100%;
    background-color: #fefefe;
    margin: auto;
}

.reserve-container .reserve-header .reserve-top{
    background: linear-gradient(184deg, rgba(235,94,80,1) 0%, rgba(235,94,80,1) 0%, rgba(242,148,139,1) 100%);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


.reserve-container .reserve-header .reserve-top .reserve-title {
    color: white;
    font-size:60px;
    font-weight: 600;
}

.reserve-body {
    padding: 20px;
    min-height: 600px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 800;
}

.reserve-body .reserve-detail-head {
    text-align: center;
    padding: 20px;
}

.reserve-body .reserve-detail-head .reserve-detail-title {
    color: #1A1818;
    font-size:30px;
    font-weight: 600;
}

.reserve-body .reserve-detail-head .reserve-detail-text {
    color: #1A1818;
    font-weight: 500;
}

form{
    margin:0px; padding: 0px;
}

.reserve-btn {
    padding: 10px 50px;
    background-color: #EB5E50;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color:#fff;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.reserve-btn:hover {
    background-color: transparent;
    border: 2px solid #EB5E50;
    color: #E94C3D;
}

  /* small desktop - LG*/
@media (min-width: 992px) and (max-width: 1199px) {
    .reserve-container {
        width: 95%;
        padding: 3.5rem;
    }
    .reserve-container .reserve-header .reserve-top .reserve-title {
        font-size: 50px;
    }
    .reserve-body {
        min-height: 400px;
        padding: 15px;
    }
    .reserve-body .reserve-detail-head {
        padding: 15px;
    }
    .reserve-body .reserve-detail-head .reserve-detail-title {
        font-size:25px;
    }
    .reserve-body .reserve-detail-head .reserve-detail-text {
        font-size:20px;
    }
    .reserve-btn {
        padding: 10px;
        font-size:20px;
    }
  }
  
    /* small laptop until tablet - MD*/
@media (min-width: 768px) and (max-width: 991px) {
    .reserve-container {
        width: 90%;
        padding: 3rem;
    }
    .reserve-container .reserve-header .reserve-top .reserve-title {
        font-size: 40px;
    }
    .reserve-body {
        min-height: 350px;
        padding: 12px;
    }
    .reserve-body .reserve-detail-head {
        padding: 12px;
    }
    .reserve-body .reserve-detail-head .reserve-detail-title {
        font-size:20px;
    }
    .reserve-body .reserve-detail-head .reserve-detail-text {
        font-size:18px;
    }
    .reserve-btn {
        padding: 10px;
        font-size:20px;
    }
  }
  
    /*tablet - SM*/
@media (min-width: 576px) and (max-width: 767px) { 
    .reserve-container {
        width: 100%;
        padding: 2rem;
    }
    .reserve-container .reserve-header .reserve-top .reserve-title {
        font-size:35px;
    }
    .reserve-body {
        min-height: 300px;
    }
    .reserve-body .reserve-detail-head {
        padding: 8px;
    }
    .reserve-body .reserve-detail-head .reserve-detail-title {
        font-size:16px;
    }
    .reserve-body .reserve-detail-head .reserve-detail-text {
        font-size:14px;
    }
    .reserve-btn {
        padding: 8px;
        font-size:14px;
    }
  }
  
  /*mobile phone - XS*/
@media (min-width: 401px) and (max-width: 575px) {
    .reserve-container {
        width: 100%;
        padding: 1.5rem;
    }
    .reserve-container .reserve-header .reserve-top .reserve-title {
        font-size:30px;
    }
    .reserve-body {
        min-height: 200px;
    }
    .reserve-body .reserve-detail-head {
        padding: 6px;
    }
    .reserve-body .reserve-detail-head .reserve-detail-title {
        font-size:14px;
    }
    .reserve-body .reserve-detail-head .reserve-detail-text {
        font-size:12px;
    }
    .reserve-btn {
        padding: 5px;
        font-size:12px;
    }
}

@media(max-width:400px) {
    .reserve-container {
        width: 100%;
        padding: 1rem;
    }
    .reserve-container .reserve-header .reserve-top .reserve-title {
        font-size:16px;
    }
    .reserve-body {
        min-height: 180px;
    }
    .reserve-body .reserve-detail-head {
        padding: 6px;
    }
    .reserve-body .reserve-detail-head .reserve-detail-title {
        font-size:8px;
    }
    .reserve-body .reserve-detail-head .reserve-detail-text {
        font-size:6px;
    }
    .reserve-btn {
        padding: 2px;
        font-size:6px;
    }
    
}