/* section 1 styles */
.head-txt{
  padding-right: 100px;
  top: 0;
  right: 0;
  color: #fefefe;
  font-family: var(--Roboto);
  margin: 10px 10px;
}
/*SEARCH FORM*/
.search-form {
  border-radius:30px;
  width: 500px;
  padding-left: 15px;
  padding-top:  15px;
  padding-bottom: 15px;
  position: relative;
}
.btn-search {
  position:absolute;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 6px;
  border: 2px solid #E94C3D;
  right: 140px;
  border-radius: 30px;
  line-height: 1;
  text-transform: uppercase;
  background-color: #E94C3D;
  color: #fefefe;
  cursor:pointer;
}
.img-d{
  display:none;
}
.head.img-m img{
  border-radius: 30px;
}
/*Footer section*/
footer{
  background-color: rgb(26, 24, 24);
}
footer .logo{
  color:#fefefe;
  --max-font: 30;
  --min-font: 20;
  font-size: var(--font);
}
footer img{
  max-width: 200px;
}
.foot-column{
  color:#fefefe;
}
  @media (max-width: 575px) { /*mobile phone*/
    /*header*/
    /* section 1 styles */
    .head-txt{
      padding-right: 0px;
      color: #fefefe;
      font-family: var(--Roboto);
      padding-top: 200px;
      margin: 0px 0px;
    }
    /*SEARCH FORM*/
    .search-form {
      border-radius:30px;
      width: 500px;
      padding-left: 15px;
      padding-top:  15px;
      padding-bottom: 15px;
      position: relative;
    }
    .btn-search {
      position:absolute;
      display: inline-block;
      padding: 10px 20px;
      margin-top: 6px;
      border: 2px solid #E94C3D;
      right: 140px;
      border-radius: 30px;
      line-height: 1;
      text-transform: uppercase;
      background-color: #E94C3D;
      color: #fefefe;
      cursor:pointer;
    }
    .img-m{
      display: none;
    }
    .img-d{
      display: block;
    }
    .search-form {
      width: 260px;
      padding-left: 15px;
      padding-top:  15px;
      padding-bottom: 15px;
      position: relative;
    }
    .btn-search {
      position:absolute;
      display: inline-block;
      padding: 10px 10px;
      margin-top: 6px;
      border: 2px solid #E94C3D;
      right: 5%;
      border-radius: 30px;
      line-height: 1;
      text-transform: uppercase;
      background-color: #E94C3D;
      color: #fefefe;
      cursor:pointer;
    }
  }
  