/* header styles */
.head-txt p{
  font-size: 18px;
  line-height: 30px;
}
.head{
  margin: 50px 50px;
  color: #fefefe;
  font-family: var(--Roboto);
}
.heads-1{
  background-image: url("../img/imghead-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-signupnow {
  padding: 10px 20px;
  margin-top: 6px;
  border: none;
  right: 140px;
  border-radius: 30px;
  line-height: 1;
  text-transform: uppercase;
  background-color: #E94C3D;
  color: #fefefe;
  cursor:pointer;
}

/*Footer section*/
footer{
  background-color: rgb(26, 24, 24);
}
footer .logo{
  color:#fefefe;
  --max-font: 30;
  --min-font: 20;
  font-size: var(--font);
}
footer img{
  max-width: 200px;
}
.custom-shape-divider-top-1614623845 {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1614623845 svg {
  position: relative;
  display: block;
  width: calc(159% + 1.3px);
  height: 112px;
}

.custom-shape-divider-top-1614623845 .shape-fill {
  fill: #1D1818;
}

.foot-column{
  color:#fefefe;
}
/* contact styles */



  /* small desktop - LG*/
@media (min-width: 992px) and (max-width: 1199px) {
  /* header styles */
  .head{
    margin: 30px 30px;
  }
}

  /* small laptop until tablet - MD*/
@media (min-width: 768px) and (max-width: 991px) {
  /* header styles */
  .head{
    padding-top: 50px;
    margin: 30px 30px;
  }
}

  /*tablet - SM*/
@media (min-width: 576px) and (max-width: 767px) { 
    /* header styles */
    .head{
      padding-top: 100px;
      margin: 30px 30px;
    }
}

/*mobile phone - XS*/
  @media (max-width: 576px) {
    /* header styles */
    .heads-1{
      background-image: url("../img/imgm.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .head{
      padding-top: 200px;
      margin: 30px 30px;
    }
    .btn-signupnow {
      padding: 10px 10px;
      margin-top: 6px;
      border: none;
      right: 5%;
      border-radius: 30px;
      line-height: 1;
      text-transform: uppercase;
      background-color: #E94C3D;
      color: #fefefe;
      cursor:pointer;
    }
    
  }
  