@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu+Condensed&family=Ubuntu:wght@300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --Ubuntu-Condensed: 'Ubuntu Condensed', sans-serif;
  /*400*/
  --Roboto: 'Roboto', sans-serif;
  /* 400 or 700*/
  --Ubuntu: 'Ubuntu', sans-serif;
  /*300*/
  --font: calc((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 420px) / (1200 - 420)));
}
body{
  font-size: var(--Roboto);
}

ul {
  list-style-type: none;
}
a{
  text-decoration: none;
}
.d-flex {
  display: flex;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row>div {
  flex: 1;
  -ms-flex: 1;
  /* IE 10 */
}
/*positions*/
.position-relative{
  position: relative;
}
.position-absolute{
  position:absolute;
}

/*text templates*/
/* header texts*/
/* h1 {
  font-weight: 700;
  font-size:var(--font);
}

h2 {
  font-weight: 300;
  font-size:var(--font);
}

h5 {
  font-weight: 600;
  font-size:var(--font);
} */

h1 {
  font-weight: 700;
  --max-font: 50;
  --min-font: 40;
  font-size: var(--font);
}
h2 {
  font-weight: 700;
  --max-font: 38;
  --min-font: 30;
  font-size: var(--font);
}
h3 {
  font-weight: 300;
  --max-font: 30;
  --min-font: 35;
  font-size: var(--font);
}
h4 {
  font-weight: 700;
  --max-font: 22;
  --min-font: 18;
  font-size: var(--font);
}
h5 {
  font-weight: 700;
  --max-font: 19;
  --min-font: 16;
  font-size: var(--font);
}
p{
  font-size: 16px;
  line-height: 22px;
}

/*aligning*/
.text-align-center {
  text-align: center;
}
.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-flex-end {
  justify-content: flex-end;
}
.justify-content-center{
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-content-center {
  align-content: center;
  flex-wrap: wrap;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}


/* -----------MARGINS------------*/
.mx-auto {
  margin: 0 auto;
}

.m-1 {
  margin: 10px 10px;
}
.m-2 {
  margin: 20px 20px;
}
.m-3 {
  margin: 30px 30px;
}
.m-4 {
  margin: 40px 40px;
}
.m-5 {
  margin: 50px 50px;
}

.my-1 {
  margin: 10px 0px;
}
.my-2 {
  margin: 20px 0px;
}
.my-3 {
  margin: 30px 0px;
}
.my-4 {
  margin: 40px 0px;
}
.my-5 {
  margin: 50px 0px;
}

.mx-1 {
  margin: 0px 10px;
}

.mx-2 {
  margin: 0px 20px;
}
.mx-3 {
  margin: 0px 30px;
}
.mx-4 {
  margin: 0px 40px;
}
.mx-5 {
  margin: 0px 50px;
}

.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.mt-5 {
  margin-top: 50px;
}


/*-------PADDINGS---------*/
.p-1 {
  padding: 10px 10px;
}
.p-2 {
  padding: 20px 20px;
}
.p-3 {
  padding: 30px 30px;
}
.p-4 {
  padding: 40px 40px;
}
.p-5 {
  padding: 50px 50px;
}

.py-1 {
  padding: 10px 0px;
}
.py-2 {
  padding: 20px 0px;
}
.py-3 {
  padding: 30px 0px;
}
.py-4 {
  padding: 40px 0px;
}
.py-5 {
  padding: 50px 0px;
}

.px-1 {
  padding: 0px 10px;
}
.px-2 {
  padding: 0px 20px;
}
.px-3 {
  padding: 0px 30px;
}
.px-4 {
  padding: 0px 40px;
}
.px-5 {
  padding: 0px 50px;
}


/* Flex directions */
  
.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

/* Floats */
.float-left{
  float: left;
}
.float-right{
  float: left;
}