/* error message in contacts */
.error{
    background-color: #fafafa;
    border-radius: 15px;
}

.login-error{
    color: #000;
    font-size: 12px;
    background-color: #fafafa;
    border-radius: 15px;
}

.note{
    color: #000;
    font-size: 11px;
    background-color: #fafafa;
    border-radius: 15px;
    line-height: 15px;
    display: none;
}