@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu+Condensed&family=Ubuntu:wght@300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --Ubuntu-Condensed: 'Ubuntu Condensed', sans-serif;
  /*400*/
  --Roboto: 'Roboto', sans-serif;
  /* 400 or 700*/
  --Ubuntu: 'Ubuntu', sans-serif;
  /*300*/
}

body {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

ul {
  list-style-type: none;
}


.d-flex {
  display: flex;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row>div {
  flex: 1;
  -ms-flex: 1;
  /* IE 10 */
}


/*text templates*/
/* header texts*/
h1 {
  font-weight: 700;
}

h2 {
  font-weight: 300;
}

h5 {
  font-weight: 600;
}

/*aligning*/
.text-align-center {
  text-align: center;
}
.justify-content-space-between {
  justify-content: space-between;
}

.justify-content {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-content-center {
  align-content: center;
  flex-wrap: wrap;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}


/* -----------MARGINS------------*/
.mx-auto {
  margin: 0 auto;
}

.m-1 {
  margin: 10px 10px;
}
.m-2 {
  margin: 20px 20px;
}
.m-3 {
  margin: 30px 30px;
}
.m-4 {
  margin: 40px 40px;
}
.m-5 {
  margin: 50px 50px;
}

.my-1 {
  margin: 10px 0px;
}

.my-2 {
  margin: 20px 0px;
}

.my-3 {
  margin: 30px 0px;
}

.my-4 {
  margin: 40px 0px;
}
.my-5 {
  margin: 50px 0px;
}

.mx-1 {
  margin: 0px 10px;
}

.mx-2 {
  margin: 0px 20px;
}

.mx-3 {
  margin: 0px 30px;
}
.mx-4 {
  margin: 0px 40px;
}
.mx-5 {
  margin: 0px 50px;
}

.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.mt-5 {
  margin-top: 50px;
}


/*-------PADDINGS---------*/
.p-1 {
  margin: 10px 10px;
}
.p-2 {
  margin: 20px 20px;
}
.p-3 {
  margin: 30px 30px;
}
.p-4 {
  margin: 40px 40px;
}
.p-5 {
  margin: 50px 50px;
}